<!DOCTYPE html>
<html>
<head>
    <title>Data Pull Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        #search-results {
            height: 300px;
            overflow-y: scroll;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-5">Data Pull Search</h1>




        <form class="form-inline mb-3" method="POST" action="{{ url_for('search_results') }}">
            <div class="form-group mr-2">
                <input type="text" class="form-control" id="search-input" name="hshd_num" placeholder="Enter Hshd_num">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>




        <div class="table-responsive" id="search-results">
            {% if result is not none %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Hshd_num</th>
                        <th>Basket_num</th>
                        <th>Date</th>
                        <th>Product_num</th>
                        <th>Department</th>
                        <th>Commodity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in result %}
                    <tr>
                        <td>{{ row['HSHD_NUM'] }}</td>
                        <td>{{ row['BASKET_NUM'] }}</td>
                        <td>{{ row['PURCHASE'] }}</td>
                        <td>{{ row['PRODUCT_NUM'] }}</td>
                        <td>{{ row['DEPARTMENT'] }}</td>
                        <td>{{ row['COMMODITY'] }}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</body>
</html>
