<!DOCTYPE html>
<html>
<head>
  <title>Upload CSV Files</title>
</head>
<body>
  <h1>Upload CSV Files</h1>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <div>
      <label for="file1">Households:</label>
      <input type="file" name="file1" id="file1">
    </div>
    <div>
      <label for="file2">Transactions:</label>
      <input type="file" name="file2" id="file2">
    </div>
    <div>
      <label for="file3">Products:</label>
      <input type="file" name="file3" id="file3">
    </div>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
